<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="ERRORLOG" class="com.prandini.smartwallet.common.rest.appender.ErrorLogAppender"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERRORLOG" />
    </root>
</configuration>
